body{
    width:100%;
    height:100%;
    text-align:center;
}
div{
   width:100%;
   height:100%;
   text-align:center;
   margin:0 auto;
   display:table-cell;
   padding:0px;
   top:50%;
}
div.time{
    display: inline-block;
    vertical-align: top;
    color:#457732;
    font-size:50px;
}
