<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="Access-Control-Allow-Origin" content="*" />
    <title>DaDa</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='web.css')}}"/>
</head>
<body>
<div class="time" id="res"></div>
</body>
<script type="text/javascript">
    setInterval("GetData()",1000);
    function GetData(){
        var xhr = new XMLHttpRequest();
        xhr.open("GET","http://45.77.176.49:1337/",true);
        dataType:"jsonp",
        xhr.onreadystatechange=function(){
            if(xhr.readyState==4){
                if(xhr.status==200){
                    document.getElementById("res").innerHTML = xhr.responseText;

            }
        }
    }
    xhr.send(null);
}
</script>
</html>
